<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.mapper.ReservationMapper">
	
	<select id="select" parameterType="Integer" resultType="reservation">
		SELECT * FROM kg_reservation WHERE r_num=#{obj}
	</select>
	<select id="selectall" resultType="reservation">
		SELECT * FROM kg_reservation
	</select>
	<select id="selectMySchedule" parameterType="String" resultType="reservation">
		SELECT r.r_num, r.r_title, r.u_id, r.f_num, r.r_date, r.r_starttime, r.r_endtime, r.r_type, c.c_color as r_color, f.f_name FROM kg_reservation r, kg_facility f, kg_category c WHERE r.f_num=f.f_num and f.c_name=c.c_name and r.u_id=#{u_id}
	</select>
	<insert id="insert" parameterType="reservation">
		INSERT INTO kg_reservation VALUES (reservation_seq.NEXTVAL, #{r_title}, #{u_id}, #{f_num}, #{r_date}, #{r_starttime}, #{r_endtime}, #{r_type})
	</insert>
	<update id="update" parameterType="reservation">
		UPDATE kg_reservation SET R_TITLE=#{r_title},F_NUM=#{f_num},R_DATE=#{r_date},R_STARTTIME=#{r_starttime},R_ENDTIME=#{r_endtime},R_TYPE=#{r_type} WHERE R_NUM=#{r_num}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM kg_reservation WHERE R_NUM=#{obj}
	</delete>
	
</mapper>
