<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.mapper.UserMapper">
	<resultMap type="user" id="userResult">
		<result column="u_id" property="u_id" />
		<result column="u_pwd" property="u_pwd" />
		<result column="u_name" property="u_name" />
		<result column="u_tel" property="u_tel" />
		<result column="u_email" property="u_email" />
		<result column="u_ismanager" property="u_ismanager" />
	</resultMap>

	<select id="select" parameterType="String"
		resultType="user">
		SELECT * FROM KG_USER WHERE U_ID=#{obj}
	</select>

	<select id="selectall" resultMap="userResult">
		SELECT * FROM KG_USER
	</select>
	
	<select id="getParticipants" parameterType="Integer" resultType="user">
		SELECT u_id FROM kg_schedule WHERE r_num=#{r_num}
	</select>

	<insert id="insert" parameterType="user">
		INSERT INTO KG_USER(U_ID,U_PWD,U_NAME,U_TEL,U_EMAIL) VALUES
		(#{u_id},#{u_pwd},#{u_name},#{u_tel},#{u_email})
	</insert>

	<update id="update" parameterType="user">
		UPDATE KG_USER SET
		U_ID=#{u_id},U_PWD=#{u_pwd},U_NAME=#{u_name},U_TEL=#{u_tel},U_EMAIL=#{u_email}, 
		WHERE ID=#{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM KG_USER WHERE U_ID=#{obj}
	</delete>

</mapper>






